<div class="row">
    <div class="col-sm-6 login-container user-bs-reset">
        <app-auth-header></app-auth-header>
        <div class="login-content">
            <div class="login-content-inner">
                <img class="login-logo login-6" src="../../../assets/images/logo-algoras-1.png">
                <form class="login-form" #loginForm="ngForm"
                    (ngSubmit)="loginForm.form.valid && resetPassword(loginForm)">
                    <h1 class="login-heading">Reset Password</h1>
                    <div *ngIf="hasMsg"
                        [ngClass]="{'col-md-12':true,'alert':true,'alert-success-login':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                        <span>{{messageText}}</span>
                    </div>
                    <div>
                        <mat-form-field>
                            <input matInput placeholder="Email Address" name="userName" [(ngModel)]="userName"
                                pattern='^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,4})+$' #userNameRequired="ngModel"
                                required>
                        </mat-form-field>
                        <div *ngIf="loginForm.submitted && userNameRequired.invalid">
                            <div class='error-msg' *ngIf="userNameRequired.errors.required">
                                This field is required
                            </div>
                            <div class='error-msg' *ngIf="userNameRequired.errors.pattern">
                                Please enter valid email
                            </div>
                        </div>

                        <button class="btn green btn-rounded btn-lg" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-6 user-bs-reset">
        <div class="video-player">
            <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""
                frameborder="0" height="100%" src="https://www.youtube.com/embed/zZI0yazXjnQ?controls=0"
                width="100%"></iframe>
            <!-- <div class="overlay-bg"></div> -->
        </div>
        <!-- For Dynamic text -->
        <div class="login-content-right" [innerHTML]="sideDetailPreference">
        </div>
    </div>
</div>