<nav class="navbar header-navbar pcoded-header iscollapsed" header-theme="theme1" pcoded-header-position="fixed">

    <div class="navbar-wrapper">
        <div class="row navbar-logo" data-navbar-theme="theme1">
            <div class="col-sm-12 col-md-9">
                <a class="mobile-menu" id="mobile-collapse">
                    <i class="ti-menu"></i>
                </a>
                <a class="mobile-search morphsearch-search">
                    <i class="ti-search"></i>
                </a>
                <a [routerLink]="['/dashboard']" >
                    <img class="img-fluid" src="assets/images/logo.png" alt="Theme-Logo">
                </a>
                <a class="mobile-options">
                    <i class="ti-more"></i>
                </a>
            </div>
            <div class="col-md-3">
                <i class="fa fa-th fa-2x menu-toggler sidebar-toggler" (click)="navigateToModulesScreen()"></i>
            </div>
        </div>
        <div class="navbar-container container-fluid" style="display: block;">
            <div>
                <ul class="nav-right">
                    <!-- <li class="header-notification lng-dropdown">
                        <a href="javascript:;" class="selected-company">
                            {{currentCompany}}
                        </a>
                        <ul class="show-notification">
                            <li *ngFor="let comp of arrCompany" (click)="changeCompany(comp)">
                                <a href="javascript:;" data-lng="en">
                                    <i></i><span>{{comp.name}}</span>
                                </a>
                            </li>
                        </ul>
                    </li> -->
                    <li class="header-notification lng-dropdown">
                        <a href="javascript:;">
                            <i>{{currentLanguageName}}</i>
                        </a>
                        <ul class="show-notification">
                            <li *ngFor="let language of arrLanguage" (click)="ChangeLanguage(language)">
                                <a href="javascript:;">{{language.languageName}}</a>
                            </li>

                        </ul>
                    </li>
                    <!-- <li class="header-notification">
                        <a>
                            <i class="ti-bell"></i>
                            <span class="badge">5</span>
                        </a>
                        <ul class="show-notification">
                            <li>
                                <h6>Notifications</h6>
                                <label class="label label-danger">New</label>
                            </li>
                            <li>
                                <div class="media">
                                    <img class="d-flex align-self-center" src="assets/theme-images/user.png"
                                        alt="Generic placeholder image">
                                    <div class="media-body">
                                        <h5 class="notification-user">John Doe</h5>
                                        <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer
                                            elit.</p>
                                        <span class="notification-time">30 minutes ago</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="media">
                                    <img class="d-flex align-self-center" src="assets/theme-images/user.png"
                                        alt="Generic placeholder image">
                                    <div class="media-body">
                                        <h5 class="notification-user">Joseph William</h5>
                                        <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer
                                            elit.</p>
                                        <span class="notification-time">30 minutes ago</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="media">
                                    <img class="d-flex align-self-center" src="assets/theme-images/user.png"
                                        alt="Generic placeholder image">
                                    <div class="media-body">
                                        <h5 class="notification-user">Sara Soudein</h5>
                                        <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer
                                            elit.</p>
                                        <span class="notification-time">30 minutes ago</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="header-notification">
                        <a class="displayChatbox">
                            <i class="ti-comments"></i>
                            <span class="badge">9</span>
                        </a>
                    </li> -->
                    <li class="user-profile header-notification">
                        <a>
                            <img src="assets/theme-images/user.png" alt="User-Profile-Image">
                            <span>{{userName}}</span>
                            <i class="ti-angle-down"></i>
                        </a>
                        <ul class="show-notification profile-notification">
                            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                <a [routerLink]="'/themeSettings'">
                                    <i class="ti-settings"></i> {{ThemeSettings}}
                                </a>
                            </li>
                            <li *ngIf="!admin">
                                <a [routerLink]="['/settings']">
                                    <i class="ti-user"></i> {{Settings}}
                                </a>
                            </li>
                            <li *ngIf="!admin">
                                <a [routerLink]="['/travelHistory']" >
                                    <i class="ti-car"></i> {{TravelHistory}}
                                </a>
                            </li>
                            <li *ngIf="!admin">
                                <a [routerLink]="['/weather']">
                                    <i class="ti-shine"></i> {{Weather}}
                                </a>
                            </li>
                            <li *ngIf="!admin">
                                <a [routerLink]="['/dashboard']">
                                    <i class="ti-home"></i> {{Dashboard}}
                                </a>
                            </li>
                            <li *ngIf="admin">
                                <a [routerLink]="['/allUsers']">
                                    <i class="ti-user"></i> {{AllUsers}}
                                </a>
                            </li>
                            <li *ngIf="admin">
                                <a [routerLink]="['/allDrivers']" >
                                    <i class="ti-dashboard"></i> {{AllDrivers}}
                                </a>
                            </li>
                            <li *ngIf="admin">
                                <a [routerLink]="['/allTravelHistory']" >
                                    <i class="ti-car"></i> {{AllTravelHistory}}
                                </a>
                            </li>
                            <li (click)="logOut()">
                                <a>
                                    <i class="ti-layout-sidebar-left"></i> {{Logout}}
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <div id="morphsearch" class="morphsearch">
                    <form class="morphsearch-form">
                        <input class="morphsearch-input" type="search" placeholder="Search...">
                        <button class="morphsearch-submit" type="submit">Search</button>
                    </form>
                    <div class="morphsearch-content">
                        <div class="dummy-column">
                            <h2>People</h2>
                            <a class="dummy-media-object">
                                <img class="round" src="assets/theme-images/81b58502541f9445253f30497e53c280.png"
                                    alt="Sara Soueidan">
                                <h3>Sara Soueidan</h3>
                            </a>
                            <a class="dummy-media-object">
                                <img class="round" src="assets/theme-images/9bc7250110c667cd35c0826059b81b75.jpeg"
                                    alt="Shaun Dona">
                                <h3>Shaun Dona</h3>
                            </a>
                        </div>
                        <div class="dummy-column">
                            <h2>Popular</h2>
                            <a class="dummy-media-object">
                                <img src="assets/theme-images/avatar-1.png" alt="PagePreloadingEffect">
                                <h3>Page Preloading Effect</h3>
                            </a>
                            <a class="dummy-media-object">
                                <img src="assets/theme-images/avatar-1.png" alt="DraggableDualViewSlideshow">
                                <h3>Draggable Dual-View Slideshow</h3>
                            </a>
                        </div>
                        <div class="dummy-column">
                            <h2>Recent</h2>
                            <a class="dummy-media-object">
                                <img src="assets/theme-images/avatar-1.png" alt="TooltipStylesInspiration">
                                <h3>Tooltip Styles Inspiration</h3>
                            </a>
                            <a class="dummy-media-object">
                                <img src="assets/theme-images/avatar-1.png" alt="NotificationStyles">
                                <h3>Notification Styles Inspiration</h3>
                            </a>
                        </div>
                    </div>

                    <span class="morphsearch-close"><i class="icofont icofont-search-alt-1"></i></span>
                </div>

            </div>
        </div>
    </div>
</nav>