<div class="row">
    <div class="col-sm-6 login-container user-bs-reset">
        <app-auth-header></app-auth-header>
        <div class="login-content">
            <div class="login-content-inner">
                <img class="login-logo login-6" src="../../../assets/images/logo-algoras-1.png">
                <h1 class="heading">Enter OTP</h1>
                <p>An OTP has been sent to your registered mobile number </p>
                <form #verifyOtpForm="ngForm"
                    (ngSubmit)="verifyOtpForm.form.valid && verifyOtpForCompanySelection(verifyOtpForm)">
                    <div *ngIf="hasMsg"
                        [ngClass]="{'col-md-12':true,'alert':true,'alert-success-login':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                        <span>{{messageText}}</span>
                    </div>
                    <mat-form-field>
                        <input matInput placeholder="Enter OTP" title="" name="verifyOtp" [(ngModel)]="verifyOtp"
                            required>
                    </mat-form-field>
                    <div class="form-actions">
                        <button class="btn orange btn-rounded btn-lg" id="back-btn" type="button"
                            (click)="newOtp()">Re-Send</button>
                        <button class="btn green btn-rounded btn-lg" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-6 user-bs-reset right-col-otp">
        <div class="content-panel">
            <h1>Verify Account</h1>
            <img src="../../../assets/images/otp-icon.png">
        </div>
    </div>
</div>