@font-face {
    font-family: Avenir;
    src: url(../css/fonts/avenir-book/Avenir-Book.woff2) format("woff2"),
      url(../css/fonts/avenir-book/Avenir-Book.woff) format("woff"),
      url(../css/fonts/avenir-book/Avenir-Book.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: normal;
}
 
  .text-15 {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 15.5px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.32;
    letter-spacing: normal;
    color: rgba(35, 40, 50, 0.25);
  }
 
  .text-14 {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.32;
    letter-spacing: normal;
    color: rgba(35, 40, 50, 0.25);
  }

  .text-13 {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.32;
    letter-spacing: normal;
    color: rgba(35, 40, 50, 0.25);
  }

  .text-12 {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.32;
    letter-spacing: normal;
    color: rgba(35, 40, 50, 0.25);
  }

  .text-11 {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.32;
    letter-spacing: normal;
    color: rgba(35, 40, 50, 0.25);
  }

  .text-10 {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.32;
    letter-spacing: normal;
    color: rgba(35, 40, 50, 0.25);
  }

  .text-9 {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 9px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.32;
    letter-spacing: normal;
    color: rgba(35, 40, 50, 0.25);
  }

  .text-8 {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 8px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.32;
    letter-spacing: normal;
    color: rgba(35, 40, 50, 0.25);
  }
 
  .text-7 {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 7px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.32;
    letter-spacing: normal;
    color: rgba(35, 40, 50, 0.25);
  }
 
  .text-6 {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 6px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.32;
    letter-spacing: normal;
    color: rgba(35, 40, 50, 0.25); 
  }
