$main-color:var(--main-color);
$main-color-hover:var(--main-color-hover);
$side-bar:var(--side-bar);
$white: #FFFFFF;
$black: #000000;
// Buttons 
$btn-success:var(--btnSuccess);
$btn-success-hover:var(--btnSuccessHover);
$btn-warning:var(--btnWarning);
$btn-warning-hover: var(--btnWarningHover);
$btn-green: var(--btnGreen);
$btn-green-hover: var(--btnGreenHover);
$btn-info: var(--btnInfo);
$btn-info-hover: var(--btnInfoHover);
$btn-danger: var(--btnDanger);
$btn-danger-hover: var(--btnDangerHover);
$btn-primary: var(--btnPrimary);
$btn-primary-hover: var(--btnPrimaryHover);